.box{
    width: 50%;
    height : 100px;
    background-color: aqua;
    margin : auto;
    border : 1px solid pink;
    border-radius: 2px;
}
.square {
    width : 100px;
    height : 100px;
    background-color: cadetblue;
    display: inline-block;
    margin : 10px;
}
.red-back{
    background-color: red;
}
.green-back{
    background-color: green;
}
.blue-back{
    background-color: blue;
}